<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taru.dao.RolePrivsDao">
    <resultMap id="RolePrivsDao" type="com.taru.model.RolePrivs">
        <id column="ROLE_PRIVS" property="rolePrivsId" jdbcType="INTEGER"/>
        <result column="ROLE_ID" property="roleId" jdbcType="VARCHAR"/>
        <result column="PRIVS_ID" property="privsId" jdbcType="VARCHAR"/>
    </resultMap>

    <!--给角色添加权限-->
    <insert id="insertRolePrivsOne" useGeneratedKeys="true" keyProperty="rolePrivsId" parameterType="String">
        insert into role_privs(ROLE_ID,PRIVS_ID)
                              values (#{roleId},#{privsId})
    </insert>

    <!--删除角色对应的权限-->
    <delete id="deletePrivsByRoleId" parameterType="string">
        delete from role_privs where ROLE_PRIVS=#{rolePrivs,jdbcType=VARCHAR} and ROLE_ID=#{roleId,jdbcType=VARCHAR}
    </delete>
</mapper>